body {
  overflow: hidden;
  background-color: rgb(78, 78, 164);
}

#master {
  height: 100%;
  border: 1px solid white;
  margin: 10px;
}

.heading {
  text-align: center;
  margin: 0;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-evenly;
  width: 1000px;
  margin: auto;
  padding-top: 50px;
}

button {
  padding: 10px 30px;
}

.fix-box {
  border: 2px dashed rgb(137, 58, 58);
  width: 35%;
  height: 50vh;
  margin: 10px;
  background-color: rgb(193, 188, 188);
}